// root scss

$gray: #2e2426;
$pink: #f4a29c;
$white: #ffffff;
$ivory: #fffff0;
$sky: #8fbce6;
$olive: #a8bf7e;

@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&family=Nanum+Gothic&display=swap');
* {
  font-family: 'Nanum Gothic';
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  word-break: keep-all;
  box-sizing: border-box;
  overflow-x: hidden;
  height: 100%;
  background-color: $ivory;
}

.wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

@mixin viewport-size {
  margin: 60px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 768px) {
    margin: 30px 50px;
  }
}

@mixin page-title {
  font-size: 32px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

@mixin link-btn {
  margin: 0 8px;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color: $gray;
  color: $ivory;
  cursor: pointer;

  &:hover {
    background-color: $pink;
    box-shadow: 0 0 18px rgb(100, 100, 100);
  }
}
