// footer design

@import '../root.scss';

.footer {
  padding: 0;
  margin: 0;
  width: 100%;
  flex-direction: row;
  position: relative;
  background-color: $gray;
}

.ft-content {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px 16px;
}

.ft-txt {
  font-size: 14px;
  line-height: 1.5;
  color: $ivory;
}

.ft-icons {
  flex-direction: row;
  display: flex;
  float: right;
}

.footer-icon {
  text-decoration: none;
  color: $ivory;
  margin: 0 10px;
}
