// header design

@import '../root.scss';

.header {
  width: 100%;
  height: 80px;
  background-color: $gray;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.nav-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 85px;
  padding: 0 16px;

  @media (max-width: 640px) {
    min-width: 40px;
  }
}

.nav-link {
  flex-direction: column;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $ivory;

  &:hover {
    color: $pink;
  }
  &::after {
    position: relative;
    content: '';
    display: block;
    border-bottom: 3px solid $pink;
    transition: width 250ms ease-out;
    margin-top: 4px;
    left: auto;
    right: 0;
    width: 0;
  }
  &:hover::after {
    width: 100%;
    left: 0;
    right: auto;
  }
}

.nav-icon {
  @media (max-width: 480px) {
    width: 1.875rem;
    height: 1.875rem;
  }
}

.nav-txt {
  margin-top: 6px;

  @media (max-width: 640px) {
    // 640 이하 텍스트 숨김
    display: none;
  }
}
