// 다음 페이지 이동 버튼 스타일

@import '../root.scss';

.move-btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: 700;
  padding: 54px 0;
  width: 100%;

  @media (max-width: 480px) {
    font-size: 24px;
  }
}

.move-link {
  height: 30vh;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $gray;
  transition: text-shadow 0.3s ease;

  &:hover {
    color: $pink;
    text-shadow: 0 0 18px rgba(255, 255, 255, 0.9);
  }

  @media (max-width: 480px) {
    height:14vh;
  }
}
