// skill area design

@import '../root.scss';

.skill-inner {
  margin: 60px 40px;

  @media (max-width: 768px) {
    margin: 30px 0;
  }
}
.skill-title {
  @include page-title;
}
.skill-content {
  width: 95%;
  margin: 20px 0;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

// item 개별 디자인
.sk-item {
  margin: 8px;
  padding: 16px 28px;
  border: 1px solid $gray;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  font-size: 18px;
}
.sk-item-title {
  font-weight: 500;
  border-left: 5px solid $gray;
  padding: 0 9px;
  margin: 12px 0;
}
.sk-item-value {
  margin: 12px 0;
}

// badge design
.badge {
  margin: 2px 4px;
}
