// skill area design

@import '../root.scss';

.skill-inner {
  @include viewport-size;

  @media (max-width: 768px) {
    margin: 30px 50px;
  }
}
.skill-title {
  @include page-title;
}
.skill-content {
  width: 95%;
  margin: 20px 0;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 24px;
}

// 아코디언 영역
.skill-folder {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  transition: 0.3s;

  .folder-title {
    font-weight: 400;
    font-size: 15px;
    transition: 0.3s;
  }

  .folder-icon {
    font-size: 72px;
    color: #B0BEC5;
    transition: 0.3s;
  }

  // action
  &:hover {
    .folder-title { font-weight: 600; }
    .folder-icon { color: #4BD0FB; }
  }
  
  &.active { 
    .folder-title { font-weight: 600; }
    .folder-icon {color: #13C1EF;} 
  }
}

// item 개별 디자인
.sk-item {
  overflow: hidden;
  transition: all 0.3s ease;

  &.open {
    margin-top: 12px;
    background: rgba(255,255,255,0.7);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  }
}
.sk-item-value {
  font-size: 16px;
}

// badge design
.badge {
  margin: 2px 4px;
}

// apple style
.apple {
  border-radius: 10px;

  .apple-header {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    background-color: $white;
    border-radius: 10px 10px 0 0;
    max-height: 20px;
    border-bottom: 1px solid #E0e6ee;

    .dots {
      display: flex;
      gap: 0.4rem;
      margin-right: 1rem;

      .dot {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        display: inline-block;
      }
      .red { background: #ff4b59; }
      .yellow { background: #ffc600; }
      .green { background: #00ca48; }
    }

    .apple-title {
      font-size: 0.9rem;
      font-weight: 500;
      color: $gray;
    }
  }

  .apple-body {
    border-radius: 0 0 10px 10px;
    padding: 14px 10px 20px 12px;
    min-height: 200px;
  }
}