// skill area design

@import '../root.scss';

.skill-inner {
  @include viewport-size;

  @media (max-width: 768px) {
    margin: 30px 50px;
  }
}
.skill-title {
  @include page-title;
}
.skill-content {
  width: 95%;
  margin: 20px 0;
  padding: 20px;
  border: 1px solid $gray;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

// item 개별 디자인
.sk-item {
  margin: 16px 0;
  font-size: 18px;
}
.sk-item-title {
  font-weight: 500;
  border-left: 5px solid $gray;
  padding: 0 9px;
  margin: 12px 0;
}
.sk-item-value {
  margin: 12px 0;
}

// badge design
.badge {
  margin: 2px 4px;
}
