// 교육이수내역 디자인

@import '../root.scss';

.edu-inner {
  @include viewport-size;
  @media (max-width: 768px) {
    margin: 30px 50px;
  }
}

.edu-title {
  @include page-title;
}

.edu-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

// item 상세 디자인
.edu-item {
  border: 0.5px solid $gray;
  border-radius: 12px;
  padding: 40px;
  margin: 30px 0;
  min-width: 90%;

  @media (max-width: 480px) {
    font-size: 16px;
    margin: 32px 0;
    min-width: 90%;
  }
}
.attribute {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  margin: 12px 0;
}
.edu-info {
  line-height: 1.7;
  padding-left: 20px;
  margin: 10px 0;

  .sub-list {
    padding-left: 1.5rem;
    font-size: 15px;
  }
}
.edu-info.hlw > li {margin:8px 0; list-style:none;}
.edu-info.hlw > li p {cursor:pointer; margin-bottom:4px;}
.edu-info.hlw > li p::before {content:'▸'; display:inline-block; margin-right:6px;}
.edu-info.hlw > li p.open::before {transform:rotate(90deg);}

// github btn
.edu-link {
  padding: 8px 0;
}
.opensite {
  @include link-btn;
}
.edu-btn {
  text-decoration: none;
  color: $white;
}
